<div class="mt-4 mb-4">
    <div class="row">
        <div class="card-columns">
            {{#each courses}}
                <div class="card card-course-item">
                    <a href="/course/{{this._doc.slug}}">
                        <img class="card-img-top" src="{{this._doc.image}}" alt="{{this._doc.name}}">
                    </a>
                    <div class="card-body">
                        <a href="/course/{{this._doc.slug}}">
                            <h4 class="card-title">{{this._doc.name}}</h4>
                        </a>
                        <p class="card-text">{{this._doc.description}}</p>
                        <a href="#" class="btn btn-primary">Mua khóa học</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>