{{!-- Form truy cập /blog/handle-form => Gửi đi action và danh sách blogIds[] (áp dụng action cho blogIds[]) --}}
<form method="POST" name="container-form" action="/blog/handle-form" class="mt-4 mb-4">
    <h3>Bài viết của tôi</h3>
    {{#if deletedCount}}
    <a href="/me/trash/blogs" class="btn btn-link">Thùng rác ({{deletedCount}})</a>
    {{/if}}

    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Chọn tất cả
            </label>
        </div>
        <select class="custom-select custom-select-sm checkbox-select-all-options" name="action" required>
            <option value="">-- Chọn hành động --</option>
            <option value="delete">Xóa</option>
        </select>
        <button class="btn btn-primary btn-sm container-btn" disabled>Thực hiện</button>
    </div>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th colspan="2">#</th>
                <th>
                    Tiêu đề
                    {{{sortable 'title' _sort}}} {{!-- Sắp xếp theo 'name' --}}
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Thời gian tạo
                    {{{sortable 'createdAt' _sort}}}
                </th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#if blogs.length}}
            {{#each blogs}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="blogIds[]" value="{{this._doc._id}}">
                    </div>
                </td>
                <td>{{sum @index 1}}</td> {{!-- index + 1 --}}
                <td>{{this._doc.title}}</td>
                <td>{{this._doc.description}}</td>
                <td>{{formatDate this._doc.createdAt}}</td>
                <td>
                    <a href="/blog/{{this._doc._id}}/edit" class="btn btn-link">Sửa</a>
                    
                    {{!-- Mở confirm delete dialog và truyền vào _id --}}
                    <a href="" class="btn btn-link" data-id="{{this._doc._id}}" 
                        data-toggle="modal" data-target="#delete-blog-modal">Xóa</a>
                </td>
            </tr>
            {{/each}}
            {{else}} {{!-- Nếu không có dữ liệu --}}
            <tr colspan="6" class="text-center">
                Bạn chưa đăng bài viết nào. 
                Đăng bài viết <a href="/blog/create">tại đây</a>.
            </tr>
            {{/if}}
        </tbody>
    </table>

    {{#if blogs.length}}
    <nav class="mx-auto">
        <ul class="pagination">
            {{#if (greater pageCount 1)}} {{!-- Nếu pageCount (tổng số trang) > 1 --}}
                {{#if (greater current 1)}} {{!-- Nếu current > 1 --}}
                <li class="page-item"><a class="page-link" href="/me/stored/blogs?page={{sub current 1}}{{hrefSort}}">Trước</a></li>
                {{/if}}

                {{#each pages}} {{!-- Vòng lặp: 1 ... pages --}}
                    {{#if (equal this ../current)}} {{!-- Nếu this = current (trang hiện tại) --}}
                    <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="/me/stored/blogs?page={{this}}{{../hrefSort}}">{{this}}</a></li>
                    {{/if}}
                {{/each}}

                {{#if (less current pageCount)}} {{!-- Nếu current < pageCount --}}
                <li class="page-item"><a class="page-link" href="/me/stored/blogs?page={{sum current 1}}{{hrefSort}}">Sau</a></li>
                {{/if}}
            {{/if}}
        </ul>
    </nav>
    {{/if}}
</form>

{{!-- Confirm delete dialog --}}
<div class="modal fade" id="delete-blog-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa bài viết này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-blog-btn">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="delete-blog-form"></form>

{{!-- Xử lý xóa bài viết: Nhấn nút 'Xóa' => Mở dialog => Nhấn 'Xóa bỏ' => Submit form ẩn bằng action DELETE --}}
{{!-- Xử lý 'container-form' (checkbox-all): Nhấn nút 'container-btn' => Submit form => Thực hiện action --}}
<script>
    document.addEventListener('DOMContentLoaded', function () { // Đợi load nội dung trang
        var blogId;
        var deleteButton = document.getElementById('delete-blog-btn'); // Button 'Xóa'
        var deleteForm = document.forms['delete-blog-form']; // Form submit 'Xóa'
        
        var checkboxAll = $('#checkbox-all'); // Checkbox chọn tất cả
        var checkboxItem = $('input[name="blogIds[]"]'); // Các checkbox có name = 'blogIds[]'
        var containerButton = $('.container-btn'); // Button submit form 'container-form'
        var containerForm = $('form[name="container-form"]'); // Form có name = 'container-form'

        // XÓA
        // Khi confirm dialog mở ra (do nhấn button 'xóa')
        $('#delete-blog-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            blogId = button.data('id'); // Lấy _id của blog được chọn để xóa
        })
        
        // Khi button 'Xóa bỏ' của dialog được nhấn
        deleteButton.onclick = function () {
            console.log(blogId);
            deleteForm.action = '/blog/' + blogId + '?_method=DELETE'; // Thêm attribute 'action' cho form
            deleteForm.submit(); // Submit form => '/blog/{{_id}}?_method=DELETE'
        }

        // CHECKBOX ALL
        // Khi checkbox-all được chọn => Các checkbox-item được chọn cùng lúc 
        checkboxAll.change(function () {
            let isCheckedAll = $(this).prop('checked');
            checkboxItem.prop('checked', isCheckedAll);

            renderContainerButton();
        });

        // Khi checkbox-item được chọn => Checkbox-all thay đổi theo
        checkboxItem.change(function () {
            let isCheckedAll = checkboxItem.length === $('input[name="blogIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);

            renderContainerButton();
        });

        // Bật/tắt button 'container-btn' 
        function renderContainerButton() {
            let checkedCount = $('input[name="blogIds[]"]:checked').length;
            if (checkedCount > 0) { // Nếu có ít nhất 1 checkbox-item được chọn
                containerButton.attr('disabled', false); // Xóa attribute 'disabled' cho button => Bật button
            } else {
                containerButton.attr('disabled', true); // Thêm attribute 'disabled' cho button => Tắt button
            }
        }
    });
</script>